<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
        
    </head>
    <body>
        <!-- <%- include('_header'); %> -->
        <!-- <h1>Home Page</h1> -->

        <!-- <%- include('_footer'); %> -->
    <!-- </body> -->
<!-- </html> -->


<h1>Codial/<%= title %></h1>

<section id="form-posts">
    <h4>Posts</h4>
    <form action="" id=" new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="typehere ..."></textarea>
        <input type="submit" value="Post">

    </form>
    
</section>